{erl_opts, [
    debug_info,
    bin_opt_info,
    {i, "include"}
]}.

{plugins, [
    {erlfmt, {git, "git@github.com:WhatsApp/erlfmt.git", {tag, "v1.0.0"}}}
]}.

{erlfmt, [write]}.

{provider_hooks, [
    {pre, [{compile, fmt}]}
]}.

{cover_enabled, true}.

% Ignore xref warnings on public external exports
{xref_ignores, [
    {nmaglev, create, 1},
    {nmaglev, create, 2},
    {nmaglev, get, 2}
]}.
