{erl_opts, [
    debug_info,
    bin_opt_info,
    {i, "include"}
]}.

{plugins, [
    {erlfmt, {git, "git@github.com:nomasystems/erlfmt.git", {tag, "v1.0.0"}}}
]}.

{erlfmt, [write]}.

{provider_hooks, [
    {pre, [{compile, fmt}]}
]}.

{alias, [
    {check, [
        {fmt, "--check"},
        xref,
        dialyzer
    ]},
    {test, [
        {ct, "--spec test/conf/test.spec --cover --readable true"}
    ]}
]}.

{profiles, [
    {test, [
        {deps, [
            {nct_util, {git, "git@github.com:nomasystems/nct_util.git", {branch, "main"}}}
        ]}
    ]}
]}.

{cover_enabled, true}.

% Ignore xref warnings on public external exports
{xref_ignores, [
    {nmaglev, create, 1},
    {nmaglev, create, 2},
    {nmaglev, get, 2}
]}.
